# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.png
*.jpg
*.glb
*.ttf

*.vsidx
*.lock
*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.bin

*.tlog
*.lastbuildstate
*.recipe
*.ilk
*.log
*.pdb
*.lastbuildstate
*.FileListAbsolute
*.idb

.vs/
*.filters
*.user

.libraries/
.libraries/include/SDL3/
.lib/
.x64/
/libraries/include/SDL3
/x64/Debug
/lib
/build
/install

.DS_Store

